#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

nav {
  padding-left: 1.2rem;
  text-align: left;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

button {
  margin: 0 0.6rem;
  padding: 0.3rem 0.5rem;
  border: #747bff;
  border-style: solid;
  border-radius: 0.4rem;
  transition-duration: 500ms;
}

button:hover {
  background-color: #374151;
  color: #f9f9f9;
  cursor: pointer;
  box-shadow: .15em .15em 8px #747bff;
  position: relative;
  top: -0.1em;
  left: -.01em;
  transition-duration: 500ms;
}

button:active {
  box-shadow: none;
  position: static;
  transition-duration: 100ms;
}
