.post-list {
  display: flex;
  max-width: 800px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.post-item {
  border-style: solid;
  border-color: #d1d5db;
  padding: 15px 10px;
  border-radius: 15px;
  min-width: 200px;
  max-width: 250px;
}

